body {
    direction: rtl;
    text-align: right;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    background-color: rgb(151, 150, 150);
    width: 100%;
    height: 105px;
}

.search-row {
    padding: 10px;
    margin-right: 450px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    padding: 10px;
}

/* white right border of menu except the first one*/
nav > ul > li:not(:first-child) {
    border-right: 1px solid white;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
}

#language {
    color:white;
    font-weight: bold;
    margin-left: 10px; 
    margin-top: 5px;
    font-family: Ariel;
    font-size: 12px;
    text-decoration: none;
}

#language:hover {
    text-decoration: underline;
    color:#005CA0;
}

.search-row{
    display: flex;
}

#search {
    border-radius: 0 8px 0 0;
    border-color: white;
    width: 126px;
    flex: 1;
}

#search-button {
    width: 19px;
    height: 19px;
    margin-top: 2px;
}
