body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.heading {
    background-color: rgb(151, 150, 150);
    width: 100%;
    height: 105px;
}

.search-row {
    padding: 10px;
    margin-right: 450px;
}

nav > ul {
    padding-left: 0px;
    display: flex;
}

nav > ul > li, .dropdown{
    padding: 10px;
    list-style: none;
}

/* white right border of menu except the first one*/
nav > ul > li:not(:first-child) {
    border-right: 1px solid white;
}

nav > ul > li > a, .dropdown > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    font-size: 15px;
    position: relative;
}

.dropdown{
    margin-top: 10px;
    background-color:  rgb(151, 150, 150);
    display: none;
}

.dropdown > li {
    padding: 10px;
    margin: 0 -10px 0 -10px;
    width: 100%;
    height: 100%;  
}
 .dropdown > li:not(:last-child){
    border-bottom: 1px solid white;
 }

a:hover > .dropdown {
    display: block;
    position: absolute;
    top: 105px;
}

#language {
    color:white;
    font-weight: bold;
    margin-left: 10px; 
    margin-top: 5px;
    font-size: 12px;
    text-decoration: none;
}

#language:hover, a:hover, .text > a:hover {
    text-decoration: underline;
    color:#005CA0;
}

.search-row{
    display: flex;
}

#search {
    border-radius: 0 8px 0 0;
    border-color: white;
    width: 126px;
    flex: 1;
}

#search-button {
    width: 19px;
    height: 19px;
    margin-top: 2px;
}

#logo-icon {
    position: absolute;
    right: 500px;
    top: 40px;
}

.images {
    padding: 10px;
    border-radius: 0 0 40px 0;
}

.text, .trans-back {
    width: 228px;
    height: 77px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 15px; 
}

.text {
    color: white;
    bottom: 40px;
    font-size: 12px;
}

.text > a {
    color: white;
}

p {
    margin-top: -10px;
}

.read-more {
    margin-right: 160px;
}

.text-pos {
    position: relative;
    margin: 0 auto;
}

.trans-back { 
    background-color:  rgb(151, 150, 150);
    opacity: 0.9;
    border-radius: 0 0 40px 0;
}