body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.heading {
    background-color: rgb(151, 150, 150);
    width: 100%;
    height: 105px;
}

nav {
    margin-right: 90px;
}

nav > ul {
    padding-left: 0px;
    display: flex;
}

nav > ul > li, .dropdown{
    padding: 0 18px 0 18px;
    list-style: none;
}

/* white right border of menu except the first one*/
nav > ul > li:not(:first-child) {
    border-right: 1px solid white;
}

nav > ul > li > a, .dropdown > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;    
    font-size: 15px;
    position: relative;
}

.dropdown{
    margin-top: 10px;
    background-color:  rgb(151, 150, 150);
    display: none;
}

.dropdown > li {
    padding: 10px;
    margin: 0 -10px 0 -10px;
    width: 100%;
    height: 100%;  
}
 .dropdown > li:not(:last-child){
    border-bottom: 1px solid white;
 }

nav > ul > li:hover > .dropdown {
    display: block;
    position: absolute;
    z-index: 1;
    top: 80px;
}

.dropdown > li:hover {
    background-color: lightgray;
}

#language {
    color:white;
    font-weight: bold;
    margin-left: 10px; 
    margin-top: 5px;
    font-size: 12px;
    text-decoration: none;
}

#language:hover, a:hover, .text > a:hover, .footer-content > nav > ul > li:last-child > a:hover, .dropdown > li > a:hover{
    text-decoration: underline;
    color:#005CA0;
}

.search-row{
    display: flex;
    padding: 10px;
    margin-right: 680px;
}

#search {
    border-radius: 0 8px 0 0;
    border-color: white;
    width: 126px;
    flex: 1;
}

#search-button {
    width: 19px;
    height: 19px;
    margin-top: 2px;
}

#logo-icon {
    position: absolute;
    right: 500px;
    top: 40px;
}

.images {
    padding: 10px;
    border-radius: 0 0 40px 0;
}

.text, .trans-back {
    width: 228px;
    height: 77px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 15px; 
}

.text {
    color: white;
    bottom: 40px;
    font-size: 12px;
}

.text > a {
    color: white;
}

p {
    margin-top: -10px;
}

.read-more {
    margin-right: 160px;
}

.text-pos {
    position: relative;
    margin: 0 auto;
}

.trans-back { 
    background-color:  rgb(151, 150, 150);
    opacity: 0.9;
    border-radius: 0 0 40px 0;
}

.text-container {
    width: 270px;
    height: 216px;

    position: relative;
    margin: 0 20px;
}

.header-pos, .link-pos, .img-pos, .erea-map, .img-map-pos {
    position: absolute;
}

.header-pos {   
    top: 0px;
    right: 20px;
}

.img-pos {
    right: 10px;
    top: 50px;
}

.img-map-pos {
    left: 10px;
    top: 40px;
}

.link-pos {
    bottom: 20px;
    left: 20px;
}

.img-background {
    margin: 0 auto;
    display: block;
}

.erea-map {
    top: 50px;
    right: 10px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer {
    background-color: rgb(151, 150, 150);
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0px;
    margin-right: auto;
}

.footer-content > nav > ul > li:last-child > a {
    color: red;
    font-weight: 400;
}
