body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.heading {
    background: rgb(193,192,198);
    background: linear-gradient(0deg, rgba(193,192,198,1) 0%, rgba(150,150,150,1) 10%);
    /*background-color: rgb(151, 150, 150);*/
    width: 100%;
    height: 105px;
}

nav {
    margin-right: 90px;
}

nav > ul {
    padding-left: 0px;
    display: flex;
}

nav > ul > li, .dropdown{
    padding: 0 18px 0 18px;
    list-style: none;
}

/* white right border of menu except the first one*/
nav > ul > li:not(:first-child) {
    border-right: 1px solid white;
}

nav > ul > li > a, .dropdown > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;    
    font-size: 15px;
    position: relative;
}

.dropdown{
    margin-top: 10px;
    background-color:  rgb(151, 150, 150);
    display: none;
}

.dropdown > li {
    padding: 10px;
    margin: 0 -10px 0 -10px;
    width: 100%;
    height: 100%;  
}
 .dropdown > li:not(:last-child){
    border-bottom: 1px solid white;
 }

nav > ul > li:hover > .dropdown {
    display: block;
    position: absolute;
    z-index: 1;
    top: 80px;
}

.dropdown > li:hover {
    background-color: lightgray;
}

#language {
    color:white;
    font-weight: bold;
    margin-left: 10px; 
    margin-top: 5px;
    font-size: 12px;
    text-decoration: none;
}

#language:hover, a:hover, .text > a:hover, .footer-content > nav > ul > li:last-child > a:hover, .dropdown > li > a:hover, .contact-design:hover, .contact-top-line-design > a:hover{
    text-decoration: underline;
    color:#005CA0;
}

.search-row{
    display: flex;
    padding: 10px;
    margin-right: 680px;
}

#search {
    border-radius: 0 8px 0 0;
    border-color: white;
    width: 126px;
    flex: 1;
}

#search-button {
    width: 19px;
    height: 19px;
    margin-top: 2px;
}

#logo-icon {
    position: absolute;
    right: 500px;
    top: 40px;
}

.images {
    padding: 10px;
    border-radius: 0 0 40px 0;
}

.text, .trans-back {
    width: 228px;
    height: 77px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 15px; 
}

.text {
    color: white;
    bottom: 40px;
    font-size: 12px;
}

.text > a {
    color: white;
}

p {
    margin-top: -10px;
}

.read-more {
    margin-right: 160px;
}

/*add image after "קרא עוד"*/
.read-more::after {
    content : url('images/read_more_white.png');
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

.read-more:hover::after, .link-pos:hover::after, .erea-map-pos:hover::after {
    content : url('images/read_more_blue.png');
}

.text-pos {
    position: relative;
    margin: 0 auto;
}

.trans-back { 
    background-color:  rgb(151, 150, 150);
    opacity: 0.9;
    border-radius: 0 0 40px 0;
}

.text-container {
    width: 270px;
    height: 216px;
    position: relative;
    margin: 0 20px;
}

.header-pos, .link-pos, .img-pos, .erea-map-pos, .img-map-pos {
    position: absolute;
}

.header-pos {   
    top: 0px;
    right: 20px;
}

.img-pos {
    right: 10px;
    top: 50px;
}

.img-map-pos {
    left: 10px;
    top: 40px;
}

.link-pos {
    bottom: 20px;
    left: 20px;
}

.link-pos::after, .erea-map-pos::after {
    content : url('images/read_more_yellow.png');
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

.erea-map-pos {
    right: 20px;
}

.north-pos {
    top: 50px;
}

.center-pos {
    top: 70px;
}

.south-pos {
    top: 90px;
}

.img-background {
    margin: 0 auto;
    display: block;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer {
    background: rgb(193,192,198);
    background: linear-gradient(180deg, rgba(193,192,198,1) 0%, rgba(150,150,150,1) 10%);
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0px;
    margin-right: auto;
}

.footer-content > nav > ul > li:last-child > a {
    color: red;
    font-weight: 400;
}

.contact-page {
    visibility: collapse;
}


/**********Contact page style************/
.contact-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.contact-design {
    background: rgb(237,234,242);
    background: linear-gradient(180deg, rgba(237,234,242,1) 70%, rgba(182,178,178,1) 100%);
    text-decoration: none;
    width: 110px;
    height: 36px;
    padding: 10px 10px 0px 80px;
    margin-top: 50px;
    color: black;
}

.row-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-top-line-design {
    font-size: 12px;
}

.contact-top-line-design > p {
    margin-top: 50px;
}

.contact-top-line-design > a {
    margin-top: 50px;
    text-decoration: none;
    color: black;
}

.contact-top-line-design {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-right: 10px;
    width: 170px;
}

.headline-contact {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;
    width: 100%;
}

#contact-form{
    border: 1px solid darkgray;
    width: 400px;
    height: 400px;
    border-radius: 0 40px 0 0;
}

#contact-form > h2 {
    margin-right: 20px;
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
}

