body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.heading {
    background: rgb(193,192,198);
    background: linear-gradient(0deg, rgba(193,192,198,1) 0%, rgba(150,150,150,1) 10%);
    /*background-color: rgb(151, 150, 150);*/
    width: 100%;
    height: 105px;
}

.header-nav {
    margin-right: 90px;
}

nav > ul {
    padding-left: 0px;
    display: flex;
}

.header-nav > ul > li, .dropdown{
    padding: 0 18px 0 18px;
    list-style: none;
}

/* white right border of menu except the first one*/
nav > ul > li:not(:first-child) {
    border-right: 1px solid white;
}

nav > ul > li > a, .dropdown > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;    
    font-size: 15px;
    position: relative;
}

.dropdown{
    margin-top: 10px;
    background-color:  rgb(151, 150, 150);
    display: none;
}

.dropdown > li {
    padding: 10px;
    margin: 0 -10px 0 -10px;
    width: 100%;
    height: 100%;  
}
 .dropdown > li:not(:last-child){
    border-bottom: 1px solid white;
 }

nav > ul > li:hover > .dropdown {
    display: block;
    position: absolute;
    z-index: 1;
    top: 80px;
}

.dropdown > li:hover {
    background-color: lightgray;
}

#language {
    color:white;
    font-weight: bold;
    margin-left: 10px; 
    margin-top: 5px;
    font-size: 12px;
    text-decoration: none;
}

#language:hover, a:hover, .read-more-pos > a:hover, .footer-content > nav > ul > li:last-child > a:hover, .dropdown > li > a:hover, .contact-with-triangle:hover, .contact-top-line-design > a:hover, .text-design > a:hover{
    text-decoration: underline;
    color:#005CA0;
}

.search-row{
    display: flex;
    padding: 10px;
    margin-right: 680px;
}

#search {
    border-radius: 0 8px 0 0;
    border-color: white;
    width: 126px;
    flex: 1;
}

#search-button {
    width: 19px;
    height: 19px;
    margin-top: 2px;
}

#logo-icon {
    position: absolute;
    right: 500px;
    top: 32px;
}

.images {
    padding: 10px;
    border-radius: 0 0 40px 0;
}

.text, .trans-back {
    width: 238px;
    height: 77px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 15px; 
}

.read-more-pos {
    position: absolute;
    bottom: 25px;
    left: 45px;
}

.text {
    color: white;
    bottom: 40px;
}

.text > h3 {
    font-size: 14px;
}

.read-more-pos > a {
    color: white;
    font-size: 11px;
}

.text > p {
    font-size: 13px;
    margin-top: -10px;
}

.read-more {
    margin-right: 160px;
}

/*add image after "קרא עוד"*/
.read-more::after {
    content : url('images/read_more_white.png');
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

.read-more:hover::after, .link-pos:hover::after, .erea-map-pos:hover::after {
    content : url('images/read_more_blue.png');
}

.text-pos {
    position: relative;
    margin: 10px auto;
}

.trans-back { 
    background-color:  rgb(151, 150, 150);
    opacity: 0.9;
    border-radius: 0 0 40px 0;
}

.text-container {
    width: 270px;
    height: 216px;
    position: relative;
    margin: 0 20px;
}

.column-align {
    margin-left: 16px;
}

.header-pos, .link-pos, .img-pos, .erea-map-pos, .img-map-pos {
    position: absolute;
}

.link-pos, .erea-map-pos {
    font-size: 13px;
    color: #72716d;
}

.header-pos {   
    top: 0px;
    right: 20px;
    color:  #6d6d6d;
}

.img-pos {
    right: 20px;
    top: 50px;
}

.img-map-pos {
    left: 10px;
    top: 40px;
}

.link-pos {
    bottom: 20px;
    left: 20px;
}

.link-pos::after, .erea-map-pos::after {
    content : url('images/read_more_yellow.png');
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

.erea-map-pos {
    right: 20px;
}

.north-pos {
    top: 50px;
}

.center-pos {
    top: 70px;
}

.south-pos {
    top: 90px;
}

.img-background {
    margin: 0 auto;
    display: block;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer {
    background: rgb(193,192,198);
    background: linear-gradient(180deg, rgba(193,192,198,1) 0%, rgba(150,150,150,1) 10%);
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    justify-content: center;
}

.footer-content {
    margin-top: 10px;
}

.footer-content > nav > ul > li {
    padding: 0 5px 0 5px;
    list-style: none;
}

.footer-content > nav > ul > li > a{
    font-weight: 200;
    font-size: 14px;
}
/*
.footer-content > nav > ul > li:last-child > a {
    color: red;
    font-weight: 400;
}*/

.contact-page {
    visibility: collapse;
}


/**********Contact page style************/
.contact-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    margin-right: 20px;
}

.contact-align-item {
    align-items: flex-end;
    margin-top: 50px;
}

.contact-design {
    background: rgb(237,234,242);
    background: linear-gradient(180deg, rgba(237,234,242,1) 70%, rgba(182,178,178,1) 100%);
    width: 90px;
    height: 36px;
    padding: 10px 10px 0px 80px;
    border-top: 1px solid #aaaaa8;
}

.triangle {
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;     
    border-right: 8px solid #005ca0; 
    z-index: 1;
    margin-right: -10px;
    margin-top: 3px;
    display: inline-block;
}

.contact-with-triangle{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

.row-contact {
    display: flex;
    align-items: flex-start; 
}

.contact-top-line-design {
    font-size: 12px;
}

.contact-more-details-align {
    margin-top: 100px;
}

.text-back-design-align {
    margin-bottom: 30px;
}

.contact-top-line-design > p {
    margin-top: 50px;
}

.contact-top-line-design > a {
    margin-top: 50px;
    text-decoration: none;
    color: black;
}

.contact-top-line-design {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 105px;
}

.headline-contact {
    color: #72716d;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;
    width: 100%;
}

.text-back-design {
    border: 1px solid #CCCCCC;
    border-radius: 0 40px 0 0;
    background: rgb(237,234,242);
    background: linear-gradient(0deg, rgba(237,234,242,1) 0%, rgba(254,253,255,1) 25%);
}

.text-back-design-width {
    width: 400px;
    min-height: 332px;
    padding: 12px 18px;
}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 95%;
    height: 430px;
}

h2 {
    margin-right: 20px;
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
}

.caption {
    display: block;
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    margin: 5px 20px 0 0;
}

.form-text-design {
    margin-right: 20px;
    color: #72716d;
    font-size: 12px;
}


.content-design {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}

.label-flex, .input-flex {
    display: flex;
    flex-direction: column;
}

.label-flex {
    align-items: flex-start;
    margin-left: 10px;
}

.input-flex {
    align-items: flex-end;
}

.label-design {
    margin-bottom: 20px;
    margin-top: 4px;
}

.input-design {
    margin-bottom: 15px;
}

#content-of-contact {
    margin-right: 20px;
}

.button-design {
    padding: 0 4px; 
    margin: 10px 200px 0 0;  
}

button {
    background: rgb(155,217,251);
    background: linear-gradient(180deg, rgba(155,217,251,1) 0%, rgba(5,116,198,1) 38%);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 8px 0 0;
    line-height: 21px;
    width: 40px;
    font-size: 14px;
}

button:hover {
    color: black;
    background: rgb(237,234,242);
    background: linear-gradient(180deg, rgba(237,234,242,1) 0%, rgba(241,177,46,1) 25%);
}

.text-design {
    width: 248px;
    height: 142px;
    padding: 18px 22px 15px;
}

.text-design > a {
    text-decoration: none;
    color: #005CA0;
    font-size: 12px;
    margin-right: 20px;
}

